<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    					http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
   						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <description>application configuration</description>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <!--<value>file:F:\\ideaWorkSpace\\config\\weixin2d\\sc.properties</value>-->
                <value>file:/opt/wechat/config/weixin2d/sc.properties</value>
            </list>
        </property>
    </bean>

    <!-- spring上下文 -->
    <bean id="springBeanContext" class="cn.com.common.base.spring.SpringBeanContext"/>

    <context:component-scan
            base-package="cn.com.common.base.service,cn.com.common.base.rpt,com.wjs.weixin2d.service,com.wjs.weixin2d.rpt">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- queryService查询接口 -->
    <bean id="queryService" class="cn.com.common.base.query.QueryServiceImpl">
        <property name="queryBuilderMap">
            <map>
                <entry key="com.wjs.weixin2d.api.dto.ChannelDTO" value="channelQueryBuilder"/>
                <entry key="com.wjs.weixin2d.api.dto.PlayerDTO" value="playerQueryBuilder"/>
            </map>
        </property>
    </bean>

    <!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${mysql.driverClassName}"/>
        <property name="url" value="${mysql.url}"/>
        <property name="username" value="${mysql.username}"/>
        <property name="password" value="${mysql.password}"/>
    </bean>-->
    <jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/ds_weixin2d"/>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--扫描配置文件-->
        <property name="mappingLocations">
            <list>
                <value>classpath*:hbm/*.hbm.xml</value>
                <value>classpath*:usertype/*.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="current_session_context_class">${hibernate.current_session_context_class}</prop>

                <prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
                <prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>
                <prop key="hibernate.cache.region.factory_class">${hibernate.cache.region.factory_class}</prop>
                <prop key="hibernate.cache.provider_configuration_file_resource_path">
                    ${hibernate.cache.provider_configuration_file_resource_path}
                </prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <!-- 注解开启事务 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- 导入项目配置文件地址 -->
    <bean class="cn.com.common.base.properties.ProjectProperties">
        <property name="properties">
            <!--<util:properties location="file:F:\\ideaWorkSpace\\config\\weixin2d\\sc.properties"/>-->
            <util:properties location="file:/opt/wechat/config/weixin2d/sc.properties"/>
        </property>
    </bean>

    <bean id="mbFacade" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${mb.hessian.url}/hessian/mb"/>
        <property name="serviceInterface" value="com.wjs.mb.api.facade.MbFacade"/>
    </bean>

</beans>